export GOOGLETEST_MOCK_INCLUDE=$(dirname $(brew --prefix)/Cellar/googletest/*/include/.)
export GOOGLETEST_TEST_INCLUDE=$(dirname $(brew --prefix)/Cellar/googletest/*/include/.)
export GOOGLETEST_LIB=$(dirname $(brew --prefix)/Cellar/googletest/*/lib/.)
